# dependencies
node_modules/

# build outputs
dist/
build/
uploads/
repos/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment
.env

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# Build Files
dist